.container {
    text-align: center;
}

/* Projects list */

.project {
    position: relative;
    width: 66vw;
    margin: 5vh 15vw;
    border-radius: 5vh;
}

.project-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34,34,34,1);
    border-radius: 5vh;
}

.project-hover:hover {
    box-shadow: 0 0 10px white;;
}

.project-hover-effect {
    animation: slideIn 1s linear;
}

@keyframes slideIn {
    0% {
		width: 100%;
	}
	100% {
		width:0%;
        display: none;
	}
}

.project-card {
    width: 100%;
    background-color: rgba(54,54,54,1);
    border:2px solid rgba(34,34,34,1);
    padding:2vh 0;
    border-radius: 5vh;
}

.project-style {
    color: white;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.mobile {
    text-align: center;
}

.tablet {
    text-align: center;
}

.desktop {
    text-align: center;
}