.container {
    background-clip: text;
    color: transparent;
}

/* about background gestion */


#about-bg-cover {
    background-color: rgba(34,34,34,0.95);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: -1;
}

.desktop #about-bg {
    background-image: url("/img/about_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100vw;
    z-index: -2;
}

.tablet #about-bg,
.mobile #about-bg {
    background-image: url("/img/about_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100vw;
    z-index: -2;
}

/* about page css */

.about {
    font-size: 2vh;
    margin: 10vh 10vw;
    height: 80vh;
    width: 80vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    text-align: justify;
}

.about h1 {
    text-align:center;
    width: 100%;
}

/* Blocks */

    /* Informations */

.about .informations {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
}

.about .informations ul {
    width: 100%;
    color: white;
}
.about .informations li {
    list-style-type: none;
    padding:0.4vw;
}

.about .informations a {
    text-decoration: none;
    color: white;
}

#cvBtn {

    background: rgba(20,20,20,0.7);
    width: 20%;
    border-radius: 1vh 1vh 1vh 1vh;
    margin-left: 40%;
    padding: 1vh 0;
    text-align: center;
}

#cvBtn:hover {
    background: linear-gradient(-45deg, #022E51, #A3B4C8, #CC6D3D, #B75803);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

    /* Introduciton */

.about .introduction {
    width: 35%;
    align-items:center;
    padding: 2vw;
}

    /* skills */

.about .skills {
    width: 35%;
    padding: 2vw;
}

.skillBar {
    margin-top: 2vh;
}

.skillbar-percent {
    color: #333333;
}

    /* Interest */

.about .interests {
    width: 35%;
    position: fixed;
    bottom: 0;
    right: -100vw;
} 
        /* wheel animation */

.aboutWheelCenter {
    position: relative;
}

.desktop .aboutWheelCenter{
    width: 70%;
    margin-top: 30%;
    margin-left: 30%;
}

.tablet .aboutWheelCenter {
    width: 100%;
}

.mobile .aboutWheelCenter {
    width: 100%;
}

.aboutWheelExt {
    position: relative;
}

#circle1{
    width:100%;
    border-radius:50%;
    animation: spin 20s infinite linear;
}
  
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#circle2{
    width: 35%;
    margin: 0;
    padding: 0;
    border-radius:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}