    /* Global */

.container {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    width:100vw;
    height: 100vh;
}

/* */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Content */

.carousel{
    width:100vw;
    height: 100vh;
}


.alice-carousel__wrapper {
    background: rgb(51, 51, 51);
    height: 100vh;
    position: relative;
}


.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    background-color:  rgba(51, 51, 51,0);
    position: fixed;
    top:0;
    padding: 0.5vw;
    width: 3vw;
    height: 100vh;
    color: white;
    align-items: center;
    line-height: 100vh;
}

.alice-carousel__prev-btn:hover,
.alice-carousel__next-btn:hover {
    background-color: rgba(34, 34, 34,0.5);
}

.alice-carousel__prev-btn{
    left: 0;
    text-align:center;
}

.alice-carousel__next-btn{
    left: 97vw;
}

/* Responsive */

.mobile {
    text-align: center;
}

.tablet {
    text-align: center;
}

.desktop {
    text-align: left;
}
 